<form id="form-1">
{{input type="file" name="avatar" accept="image/png image/jpeg" value=file}}
<div class='has-error' style="padding: 20px 0px 20px 0px; color: red;">{{errorMsg}}</div>
<button {{action 'upload'}}>Upload</button>
</form>