<div class="p-q">
  <div class="inner">
    {{#each sortedArticles as |article|}}
      {{quotes-list/quotes-message article=article user=article.user editable=editable alert="" alertClass=""}}
    {{/each}}
  </div>
</div>