<div class="quote-main">
  {{textarea class="form-control" placeholder="Start writing your article here" value=articleText}}
  <input type="button" class="btn btn-default btn-sm pull-right" value="Share" required={{true}} {{action actionName}}>
  {{articleText}}
</div>