<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class=" navbar navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="/images/logo.png" alt="Quotes"></a>
    </div>
    <nav>
      <ul class="navbar nav navbar-nav navbar-right">
        {{# if session.isAuthenticated}}
          <li>{{#link-to 'index'}}Home{{/link-to}}</li>
          <li>{{#link-to 'users'}}Search Users{{/link-to}}</li>
          <li>{{#link-to 'user' session.data.authenticated.userId}}My Profile{{/link-to}}</li>
          <li>< a href="javascript:void(0)" {{action 'invalidateSession'}}>Logout</ a></li>
        {{else}}
          <li>{{#link-to 'login'}}Login{{/link-to}}</li>
          <li>{{#link-to "signup"}}Register{{/link-to}}</li>
        {{/if}}
      </ul>
    </nav>
  </div>
</nav>
<div class="container-fluid">
  <div class="container">
    {{outlet}}
  </div>
</div>