<div class="container">
  <div class="row lgfrm">
    <div class="col-sm-12">
      <form {{action "authenticate" on='submit'}}>
        <div class="form-group">
          <label for="identification">Username</label>
          {{input value=identification placeholder='Enter Username' class='form-control'}}
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          {{input value=password placeholder='Enter Password' class='form-control' type='password'}}
        </div>
        <button type="submit" class="btn btn-default">Login</button>
      </form>
      <div class="form-group pull-right">
        <span>You are not registered {{#link-to "signup"}}click here{{/link-to}}.</span>
      </div>
      {{#if this.errors.length}}
      <div class="alert10 alert-danger">
        <ul class="errors">
          {{#each this.errors as |error|}}
          <li>{{error.message}}</li>
          {{/each}}
        </ul>
      </div>
      {{/if}}
    </div>
  </div>
</div>