<div class="container-fluid">
  <div class="container">
    <div class="row lgfrm">
      <div class="col-sm-12"> 
        <div class="form-group">
          <h3>Registeration Form</h3>
        </div>
        <RegistrationForm />
      </div>
    </div>
  </div>
</div>